<?xml version="1.0" encoding="utf-8"?>
<RocketPermissions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DefaultGroup>default</DefaultGroup>
  <Groups>
    <Group>
      <Id>user</Id>
      <DisplayName>User</DisplayName>
      <Prefix />
      <Suffix />
      <Color>white</Color>
      <Members>
        <Member>76561198021210177</Member>
        <Member>76561198160890445</Member>
      </Members>
      <ParentGroup>user</ParentGroup>
      <Priority>100</Priority>
      <Permissions>
        <Permission Cooldown="0">spawnprotection</Permission>
        <Permission Cooldown="0">buyexp</Permission>
        <Permission Cooldown="0">p</Permission>
        <Permission Cooldown="0">ts</Permission>
        <Permission Cooldown="0">vote</Permission>
        <Permission Cooldown="0">jlm.group</Permission>
        <Permission Cooldown="0">p2p.qm</Permission>
        <Permission Cooldown="0">p2p.r</Permission>
        <Permission Cooldown="0">p2p.pm</Permission>
        <Permission Cooldown="0">sell</Permission>
        <Permission Cooldown="0">kits</Permission>
        <Permission Cooldown="0">kit.sniper</Permission>
        <Permission Cooldown="0">kit.pvp</Permission>
        <Permission Cooldown="0">kit.colacion</Permission>
        <Permission Cooldown="0">kit.pve</Permission>
        <Permission Cooldown="0">tpa.send</Permission>
        <Permission Cooldown="0">tpa.accept</Permission>
        <Permission Cooldown="0">tpa.abort</Permission>
        <Permission Cooldown="0">sell</Permission>
        <Permission Cooldown="0">cost</Permission>
        <Permission Cooldown="0">balance</Permission>
        <Permission Cooldown="0">rank</Permission>
        <Permission Cooldown="0">rank.other</Permission>
        <Permission Cooldown="0">buy</Permission>
        <Permission Cooldown="0">list</Permission>
        <Permission Cooldown="0">pay</Permission>
        <Permission Cooldown="0">tpa</Permission>
        <Permission Cooldown="0">compass</Permission>
        <Permission Cooldown="0">motd.user</Permission>
        <Permission Cooldown="0">ci</Permission>
        <Permission Cooldown="0">deathmessage</Permission>
        <Permission Cooldown="0">home</Permission>
        <Permission Cooldown="0">reglas</Permission>
        <Permission Cooldown="0">voti</Permission>
        <Permission Cooldown="0">stats</Permission>
        <Permission Cooldown="0">compass</Permission>
        <Permission Cooldown="0">rocket</Permission>
        <Permission Cooldown="0">r</Permission>
        <Permission Cooldown="0">buyv</Permission>
        <Permission Cooldown="0">pm</Permission>
        <Permission Cooldown="0">buyv</Permission>
        <Permission Cooldown="0">qm</Permission>
        <Permission Cooldown="0">callvote.day</Permission>
        <Permission Cooldown="0">callvote.healall</Permission>
        <Permission Cooldown="0">callvote.kick</Permission>
        <Permission Cooldown="0">callvote.vote</Permission>
        <Permission Cooldown="0">buy.v</Permission>
        <Permission Cooldown="0">cvote</Permission>
        <Permission Cooldown="0">hitman.receive.80</Permission>
        <Permission Cooldown="0">hitman.add</Permission>
        <Permission Cooldown="0">hitman.check</Permission>
        <Permission Cooldown="0">hitman.list</Permission>
        <Permission Cooldown="0">report</Permission>
        <Permission Cooldown="0">r</Permission>
        <Permission Cooldown="0">jlm.vanish</Permission>
        <Permission Cooldown="0">exp.onkill.20</Permission>
      </Permissions>
    </Group>
    <Group>
      <Id>vip</Id>
      <DisplayName>VIP</DisplayName>
      <Prefix />
      <Suffix />
      <Color>00bbcc</Color>
      <Members>
        <Member />
      </Members>
      <ParentGroup>vip</ParentGroup>
      <Priority>100</Priority>
      <Permissions>
        <Permission Cooldown="0">effect</Permission>
        <Permission Cooldown="120">heal</Permission>
        <Permission Cooldown="30">v</Permission>
      </Permissions>
    </Group>
    <Group>
      <Id>admin</Id>
      <DisplayName>Admin</DisplayName>
      <Prefix>Staff-</Prefix>
      <Suffix />
      <Color>ff5b5b</Color>
      <Members>
        <Member />
        <Member>76561198044655688</Member>
        <Member>76561198160890445</Member>
      </Members>
      <ParentGroup>admin</ParentGroup>
      <Priority>100</Priority>
      <Permissions>
        <Permission Cooldown="0">*</Permission>
      </Permissions>
    </Group>
  </Groups>
</RocketPermissions>